<main class="pa4 black-80">
  <%= form_with model: @user, url: users_path, method: :post do |form| %>
    <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
      <legend class="f4 fw6 ph0 mh0">Sign up</legend>
      <div class="mt3">
        <%= form.text_field :first_name, class: "pa2 input-reset ba bg-transparent w-100", required: true, placeholder: "First Name" %>
      </div>
      <div class="mt3">
        <%= form.text_field :last_name, class: "pa2 input-reset ba bg-transparent w-100", required: true, placeholder: "Last Name" %>
      </div>
      <div class="mt3">
        <%= form.text_field :username, class: "pa2 input-reset ba bg-transparent w-100", required: true, placeholder: "Username" %>
      </div>
      <div class="mt3">
        <%= form.email_field :email, class: "pa2 input-reset ba bg-transparent w-100", required: true, placeholder: "Email" %>
      </div>
      <div class="mv3">
        <%= form.password_field :password, class: "b pa2 input-reset ba bg-transparent w-100", required: true, minlength: 6, placeholder: "Password" %>
      </div>
      <div class="mv3">
        <%= form.password_field :password_confirmation, class: "b pa2 input-reset ba bg-transparent w-100", required: true, minlength: 6, placeholder: "Confirm Password" %>
      </div>
    </fieldset>
    <div class="lh-copy mt3">
      <%= form.submit 'Sign up', class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
    </div>
     <div class="lh-copy mt3">
      <%= link_to 'Back', '/welcome', class: "b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib" %>
    </div>
  <% end %>
</main>
