<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gossip Details</title>
  </head>
  <body>  

    <!--Gossip card -->
    <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
      <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3 lh-copy serif"><%= @gossip.title %></h1>
        <div class="pa3 bt b--black-10">
          <p class="f6 f5-ns lh-copy serif">
            <%= @gossip.content %>
          </p>
          <p class="f6 f5-ns lh-copy serif">By <%=link_to @gossip.user.first_name, user_path(@gossip.user_id)%> | At <%= @gossip.user.city.name%> | Created on <%= @gossip.created_at%></p>
        </div>

        <!-- Like button available for authenticated users only-->
         <% if logged_in? && !current_user.likes.exists?(likeable: @gossip) %>
            <div class="pa3 bt b--black-10 flex justify-end">
              <%= button_to "Like", like_gossip_path(@gossip.id), method: :post, class: "f6 link dim br2 ph3 pv2 mb1 dib white bg-dark tc" %>
            </div>
          <% else %>
          <% end %>

          <!-- Only liked gossips can be unliked -->
          <% if logged_in? && current_user.likes.exists?(likeable: @gossip) %>
            <div class="pa3 bt b--black-10 flex justify-end">
              <%= button_to "Unlike", unlike_gossip_path(@gossip.id), method: :delete, class: "f6 link dim br2 ph3 pv2 mb1 dib white bg-dark tc" %>
            </div> 
          <% else %>         
          <% end %>

        <!-- Gossips count -->
         <div class="pa3 bt b--black-10 flex justify-end">
          <span><i>Number of likes: <%= @gossip.likes.count %></i></span>
        </div>
    </article>

    <!-- Comment list -->
    <% @gossip.comments.each do |comment| %>
    <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
        <h1 class="f4 bg-light-blue br3 br--top black-100 mv0 pv2 ph3 lh-copy serif"><%= comment.author.first_name %> <%= comment.author.last_name %>'s reaction</h1>
          <div class="pa3 bt b--black-10">
            <p class="f6 f5-ns lh-copy serif">
              <%= comment.content %>
            </p>
          </div>
          <div class="pa3 bt b--black-10">
          <% if logged_in? %>
            <!-- Edit gossip link -->
            <%= link_to "Edit", edit_gossip_comment_path(@gossip.id, comment.id) %>
            
            <!-- Delete gossip link -->
            <%= link_to "Delete", gossip_comment_path(@gossip.id, comment.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
          <% end %>
          </div>
      </article>
      <% end %>

    <!--New comment form -->
    <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
      <%= form_with url: gossip_comments_path(@gossip.id), method: :post, class: "pa4 black-80" do |form| %>
        <%= form.text_area :content, class:"db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2", placeholder: 'Leave a comment...',  minlength: 5 %>
        <%= form.submit 'Send', class: 'f6 link dim br2 ph3 pv2 mb2 dib white bg-dark tc', data: { turbo: false } %>
      <% end %>
    </article> 

    <!-- Back to gossip list -->
    <div class="mt4 tc">
      <%= link_to "Back to gossips", gossips_path, class:"f6 link dim br3 ph3 pv2 mb2 dib white bg-dark" %> 
    </div>

  </body>
</html>