<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Gossip Details</title>
  </head>
  <body>
    <article class="center mw5 mw6-ns br3 hidden ba b--black-10 mv4">
      <h1 class="f4 bg-near-white br3 br--top black-60 mv0 pv2 ph3 lh-copy serif"><%=Gossip.find(@id).title%></h1>
        <div class="pa3 bt b--black-10">
          <p class="f6 f5-ns lh-copy serif">
            <%=Gossip.find(@id).content%>
          </p>
          <p class="f6 f5-ns lh-copy serif">By <%=link_to Gossip.find(@id).user.first_name, user_path(Gossip.find(@id).user.id)%> | At <%=Gossip.find(@id).user.city.name%> | Created on <%=Gossip.find(@id).created_at%></p>
        </div>
    </article>
    <div class="mt4 tc">
      <%= link_to "Back to gossips", gossips_path, class:"f6 link dim br3 ph3 pv2 mb2 dib white bg-dark" %> 
    </div> 
    <div>
    </div>
  </body>
</html>
